<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="icon" href="~/Content/images/favicon.ico">
<link rel="shortcut icon" href="~/Content/images/favicon.ico" />
<link rel="stylesheet" href="~/Content/css/style.css">
<script src="~/Content/js/jquery.js"></script>
<script src="~/Content/js/jquery-migrate-1.1.1.js"></script>
<script src="~/Content/js/jquery.equalheights.js"></script>
<script src="~/Content/js/jquery.ui.totop.js"></script>
<script src="~/Content/js/jquery.easing.1.3.js"></script>
<script>
    $(document).ready(function () {
        $(".block1").mouseover(function () {
            $(this).addClass("blur");
        });
        $(".block1").mouseout(function () {
            $(this).removeClass("blur");
        });
        $().UItoTop({ easingType: 'easeOutQuart' });
    })
</script>
@model IEnumerable<DatTiec.Models.DanhGia>
@{
    ViewBag.Title = "DanhGia";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}
<h3 class="head2">Đánh giá của khách hàng</h3>
<div class="content">
    <div class="container">
        <div class="container_12">
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th>Họ tên</th>
                        <th>Email</th>
                        <th>Điện thoại</th>
                        <th>Nội dung</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.HoTen)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SDT)
                            </td>
                            <td>
                                @Truncate(item.NoiDung, 50)
                            </td>
                            <td>
                                <a style="text-decoration:none;color:#00ffff" href="@Url.Action("XoaDanhGia", "Admin", new {id = item.MaDanhGia})">
                                    Xóa
                                </a>
                            </td>
                            <td>
                                <a style="text-decoration:none;color:#00ffff" href="@Url.Action("ChiTietDG", "Admin", new {id = item.MaDanhGia})">
                                    Chi tiết
                                </a>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>

