@model IEnumerable<DatTiec.Models.ThucDon>
<link rel="stylesheet" href="~/Content/css/touchTouch.css">
<link rel="stylesheet" href="~/Content/css/grid.css">
<script src="~/Content/js/jquery.js"></script>
<script src="~/Content/js/jquery-migrate-1.1.1.js"></script>
<script src="~/Content/js/jquery.equalheights.js"></script>
<script src="~/Content/js/jquery.ui.totop.js"></script>
<script src="~/Content/js/jquery.tabs.min.js"></script>
<script src="~/Content/js/touchTouch.jquery.js"></script>
<script src="~/Content/js/jquery.easing.1.3.js"></script>
<script>
    $(document).ready(function () {

        $().UItoTop({ easingType: 'easeOutQuart' });
        $('.gallery a.gal').touchTouch();

    })
</script>
@{
    ViewBag.Title = "ThucDon";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content">
    <div class="ic"></div>
    <div class="container_12">
        <div class="grid_12">
            <h3 class="head2">Thực đơn</h3>
            <br />
            <h2 style="font-size:20px;text-align:center">@Html.ActionLink("Thêm thực đơn", "ThemThucDon")</h2>
            <br />
            <br />
        </div>

        <div class="tabs tb gallery">
            <div class="div-nav  ">
                <div class="grid_12" style="font-size:20px; text-align:center">
                    @Html.Action("Loai", "Admin")
                </div>
            </div>
        </div>

        <div class="tabs tb gallery">
            <div class="div-tabs">
                @foreach (var thucdon in Model)
                {
                <div class="grid_3">
                    <a href="~/Content/ThucDon/@thucdon.Hinh" class="gal"><img src="~/Content/ThucDon/@thucdon.Hinh" style="width:250px;height:150px"><span></span></a>
                    <div class="col2"><span class="col3"><a href="@Url.Action("Details","Admin",new { id=thucdon.MaMonAn})">@thucdon.TenMonAn</a></span> Giá:@String.Format("{0:0,0}", thucdon.DonGia) VNĐ</div>
                    @Html.ActionLink("Xóa", "XoaThucDon", new { id = thucdon.MaMonAn }) |
                    @Html.ActionLink("Sửa", "SuaThucDon", new { id = thucdon.MaMonAn })
                </div>
                }
            </div>
        </div>
    </div>
</div>

